<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>

<style>
.resTitle {
	background-color:#FF3B3F;
	color:#FFFFFF;
	text-align:center;
	}
</style>
</head>

<body>
<div>
<h1 class="resTitle">Introduction to C.A.R.E. CPR™</h1>
  <p><strong>Clinical Death </strong>- When an individual’s breathing and heartbeat stop. Clinical death is not necessarily permanent. An individual’s brain can stay alive for about 4-6 minutes after breathing and heartbeat have stopped (“Window of Survival”).</p>
  <p><strong>Biological Death </strong>- Permanent and irreversible brain damage and/or death.</p>
  <p>Cardiac Arrest is the greatest killer of our time; more people die of heart attacks than die of cancer, AIDS, car accidents, house fires or gunshot wounds. We believe that a society, well trained in recognizing the signs of Sudden Cardiac Arrest and heart attacks, as well as implementing the chain of survival, is the best resource for survival. If CPR and/or AED use is begun early, chances for survival significantly increase for the casualty.</p>
  <p>Early CPR and/or AED use significantly increases chances for survival for Sudden Cardiac Arrest (SCA) casualties.</p>
  <p>CPR is essentially the process of replacing heart and lung function, in the event of a physical failure.</p>
  <p><strong>Physiology (Heart and Lungs) </strong></p>
  <p>The heart actually lies in the middle of the chest, beneath the sternum, or breastbone.  When compressing the chest during CPR, the rescuer places the heels of both hands on the sternum and presses downward with enough force to compress the heart. </p>
  <p>Properly performed compressions will squeeze the heart between the sternum and the spine, forcing blood away from the heart.  Releasing pressure will allow the heart to refill with blood.  Repetitions of this activity will simulate the heart’s natural beat, and will pump the blood through the body where it is needed. </p>
  <p>Merely moving the blood through the body is not enough to keep the brain alive for long.  Blood is just a carrier, and what it needs to carry is oxygen. </p>
  <p>There are two major types of blood vessels; arteries and veins.  Depleted, or deoxygenated blood returns to the heart via veins where it is pumped to the lungs and re-oxygenated by tiny air sacs called alveoli.  The heart then pumps this oxygen-rich blood out via arteries throughout the body and to the brain - supplying life sustaining oxygen to the cells.  CPR is essentially the process of replacing heart and lung function in the event of a physical failure.</p>






</div>



</body>
</html>
